* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.main-page-container {
  width: 100vw;
  height: 100vh;
}

.color-transition * {
  transition: background-color 1000ms ease-in-out, 
              box-shadow 1000ms ease-in-out;
}

.color-transition *::before {
  transition: color 1000ms ease-in-out;
}